<h1>Añadir una película nueva</h1>
<form action="/movies/add" method="post" enctype="multipart/form-data">
    <label>Título</label>
    <input type="text" name="title"><br><br>

    <label>Descripción</label>
    <input type="text" name="description"><br><br>

    <label>Imagen</label>
    <input type="file" name="photo"><br><br>

    <input type="submit" value="GUARDAR">
</form>